// Font-faces
@font-face {
    font-family: "Jet-Brains-Mono";
    src: url("../fonts/static/JetBrainsMono-Bold.ttf");
  }

// Font-sizes
$heading-large: 2rem;
$heading-medium: 1.5rem;
$body: 1.125rem;

// Line-height
$heading-l: 43px;
$heading-m: 31px;
$body-h: 23px;